@import 'variables';

html {
  background-color: #fafafa;
  color: rgba($sleeping-panther, 0.87);
  font-family: Montserrat, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
select {
  width: 100%;
  padding: 0.5em;
}

button {
  border: 1px solid transparent;
  background: lightgray;
  padding: 0.25em 0.5em;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: #eee;
  }

  &:active {
    transform: scale(0.98);
  }
}
